#!/sbin/runscript

depend() {
	need net
	use logger
        before mta
}

start() {
	ebegin "Starting Maia Mailguiard (amavisd-new)"
	start-stop-daemon --start --quiet --exec /usr/sbin/amavisd-maia
	eend $?
}

stop() {
	ebegin "Stopping Maia Mailguiard (amavisd-new)"
	start-stop-daemon --stop --quiet --pidfile /var/run/amavis/amavisd.pid
	eend $?
}
